<!DOCTYPE html>
<html>
  <head>
    <%- include('./public.ejs', title); %>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/github.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/highlight.min.js"></script>
    <meta name="username" content="<%= data.username %>">
    <meta name="email" content="<%= data.email %>">
    <meta name="chanid" content="<%= data.chanid %>">
    <meta name="sign" content="<%= data.sign %>">
    <meta name="markdown" content="<%= markdown %>">
  </head>
  <body class="container">
    <%- include('./chat-header.ejs', title); %>
    <% if (data === 0 ) {%>
    <div class="alert alert-danger" role="alert" style="margin-top: 10px;">
      无效的请求
    </div>
    <% } else { %>
    <div class="content-show">
      <div id="content">
        <div class="con_item">
        </div>
      </div>
    </div>
    </div>
    <div class="container bottom-menu content-show">
      <div>
        <textarea id="msgcon" class="form-control" aria-describedby="send-btn"></textarea>
      </div>
      <div class="btns">
        <% if (uploadImg) { %>
        <button class="btn btn-outline-secondary" type="button" id="picture">图片</button>
        <% } %>
        <button class="btn btn-outline-secondary" type="button" id="emoji">表情</button>
        <button class="btn btn-outline-secondary" type="button" id="send-btn">发送</button>
      </div>
    </div>
    <div class="modal fade" id="emoji-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">表情</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row row-cols-8" id="emoji-list">
            </div>
          </div>
        </div>
      </div>
    </div>

    <% /* 上传图片 */ %>
    <% if (uploadImg) { %>
    <div class="modal fade" id="picture-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">上传图片</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <form id="uploadImgForm">
                <input type="file" class="form-control" id="upload_img" showUpload="false" name="img">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 22">
      <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <!-- <img src="..." class="rounded me-2" alt="..."> -->
          <strong class="me-auto">提示</strong>
          <!-- <small>11 mins ago</small> -->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>
    <link href="/css/chat.css" rel="stylesheet">
    <script src="/js/utils.js"></script>
    <script src="/js/chat.js"></script>
    <% } %>
  </body>
</html>
